.dashboard-container {
  flex: 1;
  min-height: 100%;
  height: auto;
  width: 100%;
  padding: 40px;
  background: linear-gradient(270deg, #13182a, #0c2f49);
  background-size: 1000% 1000%;
  animation: moverFondo 30s ease infinite;
  color: #ffffff;
}

@keyframes moverFondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.dashboard-title {
  color: #ffffff;
  font-size: 1.8rem;
  text-shadow: 0 0 5px #0ffff8, 0 0 10px #07c8ff, 0 0 20px #087fbc;
}

.charts-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.chart-box {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 300px;
  box-shadow: 0 0 15px #07c8ff33;
  color: #ffffff;
}
